<section class="blog-comments">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="blog-post-title">留言</h2>
            <div id="disqus_thread"></div>
        </div>
    </div>
</section>